VITE_API_BASE_URL=http://localhost:5000/api
VITE_FIREBASE_API_KEY=AIzaSyBGC_jMNAk2lAFG8W7BSN4UNVh5HqOLUro
VITE_FIREBASE_AUTH_DOMAIN=studenterp-6ba67.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=studenterp-6ba67
VITE_FIREBASE_STORAGE_BUCKET=studenterp-6ba67.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=7848068358
VITE_FIREBASE_APP_ID=7848068358:web:7848068358
